@import "./mixins";
@import "./variables";
@import "./spinner";

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
	user-select: none !important;
}

// position
.p-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.p-fixed {
	position: fixed;
}

.p-relative {
	position: relative;
}

.p-sticky {
	position: sticky;
}

// sizes
@each $size in $sizes {
	.w-#{round($size)} {
		width: percentage($size / 100);
	}
	.h-#{round($size)} {
		height: percentage($size / 100);
	}
	.rounded-#{round($size)} {
		border-radius: 1em * ($size / 10) !important;
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

// containers
.container {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}

// spacing
@each $k, $v in $spacers {
	.mx-#{$k} {
		margin-left: $v;
		margin-right: $v;
	}
	.my-#{$k} {
		margin-top: $v;
		margin-bottom: $v;
	}
	.mt-#{$k} { margin-top: $v; }
	.ml-#{$k} { margin-left: $v; }
	.mb-#{$k} { margin-bottom: $v; }
	.mr-#{$k} { margin-right: $v; }
	.m-#{$k} { margin: $v; }

	.px-#{$k} {
		padding-left: $v;
		padding-right: $v;
	}
	.py-#{$k} {
		padding-top: $v;
		padding-bottom: $v;
	}
	.pt-#{$k} { padding-top: $v; }
	.pl-#{$k} { padding-left: $v; }
	.pb-#{$k} { padding-bottom: $v; }
	.pr-#{$k} { padding-right: $v; }
	.p-#{$k} { padding: $v; }
}

// display & flexbox
.d-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
	flex-wrap: wrap;
	flex-direction: row;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

// shadows
.shadow-none {
	box-shadow: none;
}

.shadow-sm {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15);
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .15);
}

// justify
@each $pos in $layout {
	.justify-items-#{$pos} {
		justify-items: #{$pos};
	}
	.justify-content-#{$pos} {
		justify-content: #{$pos};
	}
	.justify-self-#{$pos} {
		justify-self: #{$pos};
	}
	.align-content-#{$pos} {
		align-content: #{$pos};
	}
	.align-items-#{$pos} {
		align-items: #{$pos};
	}
	.align-self-#{$pos} {
		align-self: #{$pos};
	}
}

.rounded-0 {
	border-radius: 0 !important;
}

.rounded-circle {
	border-radius: 100% !important;
}

// colors
@each $k, $v in $colors {
	.color-#{$k} {
		color: $v;
	}
	.fill-#{$k} {
		fill: $v;
	}
	.stroke-#{$k} {
		stroke: $v;
	}
	.bg-#{$k} {
		background-color: $v;
	}
	.btn-#{$k} {
		@include btn($v);
	}
	.btn-outline-#{$k} {
		@include btn-outline($v);
	}
	.btn-gradient-#{$k} {
		@include btn-gradient(true, 90deg, $v, $v 0%, darken($v, 20%));
	}
	.btn-link-#{$k} {
		@include btn-link($v);
	}
}

// default font & text/bg colors
html, body {
	overflow-x: hidden;
}

body {
	background-color: whitesmoke;
	color: black;
	font-family: "Metrophobic", sans-serif;
	scrollbar-width: thin;
	// scrollbar-color: $thumb-bg $scrollbar-bg;

	h1, h2, h3, h4, h5, h6 {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 1.5em;
	}

	h1, h2 {
		font-size: 2em;
	}
}

// containers
.container-xl {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

// scrollbar
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	// background: $scrollbar-bg;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	// background-color: $thumb-bg;
	// border: 3px solid $scrollbar-bg;
	border-radius: 10px;
}

// about slide
.aboutslide {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 20%;
	z-index: 9000;
	// background-color: rgba(53, 154, 248, 0.836);
	color: whitesmoke;

	section {
		background-color: rgba(53, 154, 248, 0.836);
		padding: 0 10%;
	}

	button {
		position: relative;
		top: 1em;
		@include btn-gradient(true, 90deg, $primary, $primary 0%, darken($primary, 20%));
	}
}
