$primary: royalblue !default;
$secondary: gray !default;
$danger: indigo !default;
$warning: orangered !default;
$info: crimson !default;

$colors: (
	primary: $primary,
	secondary: $secondary,
	danger: $danger,
	warning: $warning,
	info: $info
) !default;

// gradient
@mixin gradient($isLinear, $degree, $colors...) {
	@if $isLinear {
		background: linear-gradient($degree, $colors);
	} @else {
		background: radial-gradient($degree, $colors);
	}
}

// normalize
@import "../../../node_modules/normalize.css/normalize.css";

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
}

// material design & montserrat fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

// responsive queries
$queries: (
	desktop: "min-width: 1224px",
	tablet_mobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px"
) !default;

@mixin media($keys...) {
	@each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

// sizes
$sizes: (0, 25, 50, 75, 100) !default;
@each $size in $sizes {
	.w-#{$size} {
		width: percentage($size);
	}
	
	.h-#{$size} {
		height: percentage($size);
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

// containers
.container {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}

// spacing
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer * 1,
	4: $spacer * 1.5,
	5: $spacer * 3,
	auto: auto
) !default;

@each $k, $v in $spacers {
	.mx-#{$k} {
		margin-left: $v;
		margin-right: $v;
	}
	.my-#{$k} {
		margin-top: $v;
		margin-bottom: $v;
	}
	.mt-#{$k} { margin-top: $v; }
	.ml-#{$k} { margin-left: $v; }
	.mb-#{$k} { margin-bottom: $v; }
	.mr-#{$k} { margin-right: $v; }
	.m-#{$k} { margin: $v; }

	.px-#{$k} {
		padding-left: $v;
		padding-right: $v;
	}
	.py-#{$k} {
		padding-top: $v;
		padding-bottom: $v;
	}
	.pt-#{$k} { padding-top: $v; }
	.pl-#{$k} { padding-left: $v; }
	.pb-#{$k} { padding-bottom: $v; }
	.pr-#{$k} { padding-right: $v; }
	.p-#{$k} { padding: $v; }
}

// display & flexbox
.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

// justify
$layout: ("center", "flex-start", "flex-end", "space-between", "space-around", "space-evenly", "start", "end", "normal", "stretch", "left", "right") !default;
@each $pos in $layout {
	.justify-items-#{$pos} {
		justify-items: $pos;
	}
	.justify-content-#{$pos} {
		justify-content: $pos;
	}
	.justify-self-#{$pos} {
		justify-self: $pos;
	}
	.align-content-#{$pos} {
		align-content: $pos;
	}
	.align-items-#{$pos} {
		align-items: $pos;
	}
	.align-self-#{$pos} {
		align-self: $pos;
	}
}

// buttons
@mixin btn($color) {
	display: block;
	color: gainsboro;
	background-color: $color;
	border: 3px solid $color;
	border-radius: 3em;
	outline: none;
	text-decoration: none;
	text-align: center;

	&:active, &:hover, &:focus {
		background-color: whitesmoke !important;
		border-color: $color !important;
		color: $color !important;
	}
}

@mixin btn-outline($color) {
	@include btn($color);
	background-color: transparent;
	color: $color;
}

@mixin btn-gradient($isLinear, $degree, $colors...) {
	@include btn(whitesmoke);
	@include gradient($isLinear, $degree, $colors...);
}

.rounded-0 {
	border-radius: none;
}

.rounded-circle {
	border-radius: 3em;
}

// colors
@each $k, $v in $colors {
	.bg-#{$k} {
		background-color: $v;
	}
	.btn-#{$k} {
		@include btn($v);
	}
	.btn-outline-#{$k} {
		@include btn-outline($v);
	}
	.btn-gradient-#{$k} {
		@include btn-gradient(true, 90deg, $v 0%, darken($v, 40%) 100%);
	}
}

// default font & text/bg colors
$scrollbar-bg: #292929 !default;
$thumb-bg: #383838 !default;

html, body {
	overflow-x: hidden;
}

body {
	background-color: whitesmoke;
	color: black;
	font-family: Arial, sans-serif;
	scrollbar-width: thin;
	scrollbar-color: $thumb-bg $scrollbar-bg;

	h1, h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 3em;
		font-weight: 600;
	}
}

// containers
.container-xl {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

// scrollbar
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: $scrollbar-bg;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $thumb-bg;
	border: 3px solid $scrollbar-bg;
	border-radius: 10px;
}

// AnimateCSS
@import "../../../node_modules/animate.css/animate.min.css";
