$primary: royalblue !default;
$secondary: gray !default;
$danger: indigo !default;
$warning: orangered !default;
$info: crimson !default;
$verbose: greenyellow !default;
$light: whitesmoke !default;
$dark: dimgray !default;
$transparent: transparent !default;

$colors: (
	primary: $primary,
	secondary: $secondary,
	danger: $danger,
	warning: $warning,
	info: $info,
	verbose: $verbose,
	light: $light,
	dark: $dark,
	alpha: $transparent
) !default;

// gradient
@mixin gradient($isLinear, $degree, $colors...) {
	@if $isLinear {
		background: linear-gradient($degree, $colors);
	} @else {
		background: radial-gradient($degree, $colors);
	}
}

// normalize
@import "../../../node_modules/normalize.css/normalize.css";

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

// material design & montserrat & metrophobic fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Metrophobic&display=swap");

// responsive queries
$queries: (
	desktop: "min-width: 1224px",
	tablet_mobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px"
) !default;

@mixin media($keys...) {
	@each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

// position
.p-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.p-fixed {
	position: fixed;
}

.p-relative {
	position: relative;
}

.p-sticky {
	position: sticky;
}

// sizes
$sizes: (0, 25, 33.33, 50, 66.66, 75, 100) !default;
@each $size in $sizes {
	.w-#{round($size)} {
		width: percentage($size / 100);
	}
	.h-#{round($size)} {
		height: percentage($size / 100);
	}
	.rounded-#{round($size)} {
		border-radius: 1em * ($size / 10) !important;
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

// containers
.container {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;

	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}

// spacing
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer * 1,
	4: $spacer * 1.5,
	5: $spacer * 3,
	auto: auto
) !default;

@each $k, $v in $spacers {
	.mx-#{$k} {
		margin-left: $v;
		margin-right: $v;
	}
	.my-#{$k} {
		margin-top: $v;
		margin-bottom: $v;
	}
	.mt-#{$k} { margin-top: $v; }
	.ml-#{$k} { margin-left: $v; }
	.mb-#{$k} { margin-bottom: $v; }
	.mr-#{$k} { margin-right: $v; }
	.m-#{$k} { margin: $v; }

	.px-#{$k} {
		padding-left: $v;
		padding-right: $v;
	}
	.py-#{$k} {
		padding-top: $v;
		padding-bottom: $v;
	}
	.pt-#{$k} { padding-top: $v; }
	.pl-#{$k} { padding-left: $v; }
	.pb-#{$k} { padding-bottom: $v; }
	.pr-#{$k} { padding-right: $v; }
	.p-#{$k} { padding: $v; }
}

// display & flexbox
.d-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.d-block {
	display: block;
}

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
	flex-wrap: wrap;
	flex-direction: row;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-nowrap {
	flex-wrap: nowrap !important;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

// shadows
.shadow-none {
	box-shadow: none;
}

.shadow-sm {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15);
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .15);
}

// justify
$layout: ("center", "flex-start", "flex-end", "space-between", "space-around", "space-evenly", "start", "end", "normal", "stretch", "left", "right") !default;
@each $pos in $layout {
	.justify-items-#{$pos} {
		justify-items: #{$pos};
	}
	.justify-content-#{$pos} {
		justify-content: #{$pos};
	}
	.justify-self-#{$pos} {
		justify-self: #{$pos};
	}
	.align-content-#{$pos} {
		align-content: #{$pos};
	}
	.align-items-#{$pos} {
		align-items: #{$pos};
	}
	.align-self-#{$pos} {
		align-self: #{$pos};
	}
}

// buttons
@mixin btn($color) {
	cursor: pointer;
	display: block;
	color: whitesmoke;
	background-color: $color;
	border: 2px solid $color;
	border-radius: 3em;
	outline: none;
	text-decoration: none;
	text-align: center;
	transition: all 0.15s ease-in-out;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15);

	&:active, &:hover, &:focus {
		outline: none;
		background-color: whitesmoke;
		border-color: $color;
		color: $color;
	}
}

@mixin btn-link($color) {
	@include btn(transparent);
	color: dimgray;
	box-shadow: none;

	&:active, &:hover, &:focus {
		background-color: transparent;
		border-color: transparent;
		color: $color;
		box-shadow: none;
	}
}

@mixin btn-outline($color) {
	@include btn($color);
	background-color: transparent;
	color: $color;

	&:active, &:hover, &:focus {
		background-color: $color;
		border-color: $color;
		color: whitesmoke;
	}
}

@mixin btn-gradient($isLinear, $degree, $bordercolor, $colors...) {
	@include btn(whitesmoke);
	@include gradient($isLinear, $degree, $colors...);
	transition: filter 0.5s ease-in-out !important;
	border-color: $bordercolor;

	&:active, &:hover, &:focus {
		border-color: $bordercolor;
		filter: saturate(200%) brightness(150%);
	}
}

.rounded-0 {
	border-radius: 0 !important;
}

.rounded-circle {
	border-radius: 100% !important;
}

// colors
@each $k, $v in $colors {
	.color-#{$k} {
		color: $v;
	}
	.fill-#{$k} {
		fill: $v;
	}
	.stroke-#{$k} {
		stroke: $v;
	}
	.bg-#{$k} {
		background-color: $v;
	}
	.btn-#{$k} {
		@include btn($v);
	}
	.btn-outline-#{$k} {
		@include btn-outline($v);
	}
	.btn-gradient-#{$k} {
		@include btn-gradient(true, 90deg, $v, $v 0%, darken($v, 20%));
	}
	.btn-link-#{$k} {
		@include btn-link($v);
	}
}

// default font & text/bg colors
$scrollbar-bg: #292929 !default;
$thumb-bg: #383838 !default;

html, body {
	overflow-x: hidden;
}

body {
	background-color: whitesmoke;
	color: black;
	font-family: "Metrophobic", sans-serif;
	scrollbar-width: thin;
	scrollbar-color: $thumb-bg $scrollbar-bg;

	h1, h2, h3, h4 {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 1.5em;
	}

	h1, h2 {
		font-size: 2em;
	}
}

// containers
.container-xl {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

// scrollbar
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: $scrollbar-bg;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $thumb-bg;
	border: 3px solid $scrollbar-bg;
	border-radius: 10px;
}

// AnimateCSS
@import "../../../node_modules/animate.css/animate.min.css";
