@import "./mixins";
@import "./variables";

.navbar {
	z-index: 1000;
	background-color: transparent;
	max-height: 6em;

	@include media(tablet_mobile, portrait) {
		position: relative;
	}

	#{&}-brand {
		img {
			width: 160px;
			height: auto;
		}
	}

	#{&}-content {
		ul {
			list-style: none;
		}

		@include media(tablet_mobile, portrait, "max-width: 1050px") {
			ul {
				flex-direction: column;

				li {
					a {
						background: transparent;
						border: 0;
						border-bottom: solid 2px whitesmoke;
						border-radius: 0;
						width: 70vw;
						padding: 1em;
						margin: 1em;
					}
				}
			}
		}
	}

	#{&}-toggler {
		display: none;
		width: 3em;
		height: 3em;
	}

	#{&}-toggler-close {
		position: fixed;
		top: 0;
		right: 0;
		display: none;
		width: 3em;
		height: 3em;
		margin: 1em;
	}

	.active {
		z-index: 5000;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color: rgb(0, 26, 56), $alpha: 0.9);
	}
}

.mobility-fx {
	z-index: -1;
	overflow: visible;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 70vw;
	height: 90vh;
	background-image: url("../images/mobility-fx.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
