@import "./common";
@import "./navbar";

body {
	height: 100vh;
}

.navbar {
	display: flex;
	height: 30vh;
	flex-direction: column;
	justify-content: space-between;
	
	nav {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.infos {
	#{&}-card {
		max-width: 35vw;
		min-height: 30em;
		max-height: 30em;

		img {
			width: 100%;
			height: auto;
		}

		@include media(tablet_mobile, portrait) {
			max-width: 100%;
			max-height: none;
		}
	}

	#{&}-div {
		width: 50%;

		@include media(tablet_mobile, portrait) {
			width: 100%;
		}
	}
}

.transportheader {
	background-color: transparentize($color: white, $amount: 0.5);

	h1 {
		margin: 0.3em 0;
	}
}

.transport {
	height: 70vh;

	#{&}-ways, #{&}-map {
		@include media(tablet_mobile, portrait) {
			width: 100%;
		}
	}

	#{&}-ways {
		width: 30%;
		overflow-y: scroll;
		height: 100%;
		background-color: transparentize($color: whitesmoke, $amount: 0.2);

		h2 {
			font-size: 1.5em;
		}
	}

	#{&}-map {
		width: 70%;
		height: 100%;
	}

	#{&}-icon-proximo, #{&}-icon-flexo, #{&}-icon-chrono, #{&}-icon-tram {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 1.2em;
		border-radius: 0.3em;
		width: 1.5em;
		height: 1.5em;
		margin: 2px;
		user-select: none;
		opacity: 0.4;
	}

	#{&}-icon-tram, #{&}-icon-chrono {
		border-radius: 100%;
	}

	.active {
		opacity: 1;
	}
}

.mapboxgl-popup {
	max-width: 400px;
}

.routeinfo {
	header {
		text-align: center;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		
		h3 {
			padding: 0.8em;
			margin-top: 0;
		}
	}
}

.mapboxgl-popup-close-button {
	color: white;
	padding: 0;
	border-radius: 5em;
	background-color: rgb(41, 48, 70);
	font-size: 2em;
	font-weight: bold;
	margin: -0.5em;
	width: 1.2em;
	height: 1.2em;

	&:active, &:hover, &:focus {
		background-color: rgb(90, 105, 155);
		color: gainsboro;
	}
}

.marker {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5em;
	height: 1.5em;
	border-radius: 3em;
	font-size: 1.3em;
	font-weight: bold;
}

.mapboxgl-popup-content {
	border-radius: 12px;
	padding: 0;
	margin: 0;
}

// mapbox gl
@import "../../../node_modules/mapbox-gl/dist/mapbox-gl.css";
