@import "./common";
@import "./navbar";

body {
	height: 100vh;
}

.navbar {
	position: static !important;
	display: flex;
	height: 25vh;
	max-height: 25vh !important;
	flex-direction: column;
	justify-content: space-between;
	
	nav {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.infos {
	#{&}-card {
		max-width: 35vw;
		min-height: 30em;
		max-height: 30em;

		img {
			width: 100%;
			height: auto;
		}

		@include media(tablet_mobile, portrait) {
			max-width: 100%;
			max-height: none;
		}
	}

	#{&}-div {
		width: 50%;

		@include media(tablet_mobile, portrait) {
			width: 100%;
		}
	}
}

.transportheader {
	background-color: transparentize($color: white, $amount: 0.5);

	h1 {
		margin: 0.3em 0;
	}
}

.transport {
	height: 75vh;

	#{&}-ways {
		background-color: transparentize($color: whitesmoke, $amount: 0.1);
		position: fixed;
		top: 25vh;
		left: 0;
		width: 25%;
		height: 75vh;
		z-index: 800;

		h2 {
			font-size: 1.5em;
		}

		@include media(tablet_mobile, portrait) {
			width: 70%;
		}
	}

	#{&}-ways-container {
		overflow-y: auto;
		height: calc(75vh - 3em);
		padding: 0 1em;
	}

	#{&}-ways-header {
		position: sticky;
		height: 3em;
		z-index: 800;
		// background-color: transparentize($color: whitesmoke, $amount: 0.2);
		background: linear-gradient(-45deg, #ee765265, #e73c7e4f, #23a5d53b, #23d5ab34);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
	}

	#{&}-ways-toggler {
		background-color: transparentize($color: whitesmoke, $amount: 0.2);
		color: black;
		position: fixed;
		top: 25vh;
		left: 0;
		margin-top: 2px;
		font-size: 1.5em;
		width: 1.8em;
		height: 1.8em;
		z-index: 900;

		&:active, &:hover, &:focus {
			background-color: transparentize($color: whitesmoke, $amount: 0.2) !important;
			color: black !important;
		}
	}

	#{&}-map {
		background-color: transparentize($color: whitesmoke, $amount: 0.2);
		position: fixed;
		top: 25vh;
		right: 0;
		width: 100%;
		height: 100%;
	}

	#{&}-icon-proximo, #{&}-icon-flexo, #{&}-icon-chrono, #{&}-icon-tram {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 1.2em;
		border-radius: 0.3em;
		width: 1.5em;
		height: 1.5em;
		margin: 2px;
		user-select: none;
		opacity: 0.4;
	}

	#{&}-icon-tram, #{&}-icon-chrono {
		border-radius: 100%;
	}

	.active {
		opacity: 1;
	}
}

.routeinfo {
	header {
		text-align: center;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		
		h3 {
			padding: 0.8em;
			margin: 0;
		}
	}

	#{&}-container {
		max-height: 220px;
		overflow-y: auto;
	}

	#{&}-section {
		margin: 0.4em;
		border: solid 4px gainsboro;
		border-radius: 12px;

		h5 {
			margin: 0;
			font-size: 1.2em;
			padding: 0.2em;
		}

		p {
			margin: 0;
			font-weight: bold;
		}
	}
}

.mapboxgl-canvas {
	width: 100% !important;
}

.mapboxgl-popup {
	min-width: 200px;
}

.marker {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5em;
	height: 1.5em;
	font-size: 1.3em !important;
	opacity: 1 !important;
}

.mapboxgl-popup-close-button {
	color: white;
	padding: 0;
	border-radius: 5em;
	background-color: rgb(41, 48, 70);
	font-size: 2em;
	font-weight: bold;
	margin: -0.5em;
	width: 1.2em;
	height: 1.2em;

	&:active, &:hover, &:focus {
		background-color: rgb(90, 105, 155);
		color: gainsboro;
	}
}

.mapboxgl-popup-content {
	border-radius: 12px;
	padding: 0;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

// mapbox gl
@import "../../../node_modules/mapbox-gl/dist/mapbox-gl.css";
